<p id="notice"><%= notice %></p>

<h1>Listing Notes</h1>


  <tbody>
    <% @notes.each do |note| %>
        <div>
          <p><b>Name:</b> <%= note.user.username %></p>
          <p><b>Title:</b> <em><%= note.name %></em></div></p>
          <p><b>Body:</b> <%= note.body %></p>
        </div>
        <div>
          <%= link_to 'Show', note %>
          <%= link_to 'Edit', edit_note_path(note) %>
          <%= link_to 'Destroy', note, method: :delete, data: { confirm: 'Are you sure?' } %>
        </div>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Note', new_note_path %>
